[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "survMisc"]
	path = survMisc
	url = https://github.com/dardisco/survmisc
	shallow = true
	registered = true
